/* Global area */
*{
	margin:0;
	padding: 0;
	font-family: sans-serif;
}
/* Global area */
.header{

}
.box{
	min-height: 5rem;
	background: #E6CCD5;
	margin-bottom: 1rem;
}

.height{
	min-height: 200px;
	background: #ff6666;
	margin-bottom: 1rem;
	
}
/* .col{
	padding-top: .75rem;
	padding-bottom: .75rem;
	background: red;
	border:1px solid;
} */